/* Resetting default styles */
body, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    background-color: red;
    color: black;
    text-align: right;
    padding: 20px 200px;
  }
  
  /* Navigation styles */
  nav ul {
    list-style-type: none;
    background-color: #9b9595;
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #777;
  }
  
  /* Dropdown styles */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #dedcdc;
    min-width: 160px;
  }
  .dropdown-content li {
    display: block;
  }
  
  
  .dropdown-content li a {
    color: blue;
    padding: 12px 16px;
    text-decoration: none;
  }
  
  .dropdown-content li a:hover {
    background-color: white;
  }
  