body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentage-label {
  margin-top: 300px;
  align-items: center;
  justify-content: center;
}

.graph-box {
  border: 1px solid #cccccce0;
  background-color: #ced2d5;
    display: flex;
  padding: 20px;
}

.graph-container {
  width: 50px;
  height: 300px;
  border: 1px solid #ccc;
  background-color: white;
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.bar {
  width: 100%;
  background-color: grey;
  position: absolute;
  bottom: 0;
  animation: growBar 2s ease forwards;
}

@keyframes growBar {
  from {
    height: 0;
  }
  to {
    height: var(--percentage);
  }
}


.graph-header{content: "\a";
  margin-top: 320px;
  align-items: center;
  justify-content: center;

}